@{
	ViewData["Title"] = "Paises";
}
@{
	Laboratorio5.Handlers.PaisesHandler paisesHandler = new Laboratorio5.Handlers.PaisesHandler();
    var paises = paisesHandler.ObtenerPaises();
}


<h1>@ViewBag.MainTitle</h1>

<div>
	<a href = "@Url.Action("CrearPais", "Paises")" class = "btn btn-success">Crear país</a>
	<h1>Lista de Paises</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Idioma</th>
				<th>Continente</th>
				<th>Editar</th>
				<th>Borrar</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in paises)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.Nombre</td>
					<td>@item.Idioma</td>
					<td>@item.Continente</td>
					<td>@Html.ActionLink("Editar", "EditarPais", new{identificador = @item.Id},
					new {@class = "btn btn alert-info", @onclick = "return confirm('¿Quiere editar este país?');"})</td>
					<td>@Html.ActionLink("Borrar", "BorrarPais", new{identificador = @item.Id},
					new {@class = "btn btn alert-danger", @onclick = "return confirm('¿Quiere borrar este país?');"})</td>
				</tr>
			}
		</tbody>
	</table>

</div>